@charset "UTF-8";

html {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
}

/*<!-- 스크롤 안생기게 -->*/
body {
    overflow-x: hidden;
    color: rgb(29, 29, 31);
    letter-spacing: -0.05em;
    background: white;
}

/*<!-- 밑줄 없앰 -->*/
a {
    color: rgb(29, 29, 31);
    text-decoration: none;
}

.container {
    padding: 10vh 5vw;
}

.logo-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.logo-img {
    width: 4rem;
}

.logo-title {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}

.center-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    padding: 2rem;
}

.center-section div p {
    font-size: 1.1rem;
    font-weight: bold;
    padding: 1rem 0;
    text-align: start;
}

.center-section div:nth-child(n+2) {
    font-size: 0.9rem;
    margin: 0.5rem auto;
    line-height: 1.5;
    width: 100%;
    display: inline-block;
}

.button-section {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 1rem;
}

.button-form {
    width: 100%;
}

.button-0,
.button-1 {
    border: none;
    border-radius: 1rem;
    width: 100%;
    max-width: 50vw;
    height: 3em;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.button-0 {
    background: #0078FF;
    color: white;
}

.button-1 {
    border-radius: 1rem;
    border: 1px solid #0078FF;
    background: transparent;
    color: #0078FF;
}

.footer {
    font-size: 0.8rem;
    text-align: right;
    line-height: 1.5;
    display: flex;
    justify-content: end;
    align-items: center;
    color: black;
}

@media (max-width: 400px) {
    .container {
        min-width: 400px;
    }
}

@media (min-width: 660px) {
    .container {
        padding: 10vh 20vw;
    }

    .logo-img {
        width: 6rem;
    }

    .logo-title {
        font-size: 1.4rem;
        font-weight: bold;
        text-align: center;
    }
}

@media (min-width: 1024px) {
    .container {
        padding: 10vh 30vw;
    }
}