@charset "UTF-8";

html {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
}

/*<!-- 스크롤 안생기게 -->*/
body {
    overflow-x: hidden;
    color: rgb(29, 29, 31);
    letter-spacing: -0.05em;
    background: white;
}

/*<!-- 밑줄 없앰 -->*/
a {
    color: rgb(29, 29, 31);
    text-decoration: none;
}

.container {
    padding: 10vh 5vw;
}

.logo-section {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1em;
    margin-bottom: 2rem;
}

.logo-img {
    width: 3rem;
}

.logo-title {
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
}

.email-section {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: 0.9rem;
    margin: 5em 0em 2em 0em;
}

.department-section,
.alert-section {
    flex-direction: column;
    font-weight: bold;
    font-size: 0.9rem;
    margin: 2em 0em;
}

.department-section div {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.alert-status-buttons {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.department-status,
.alert-status {
    display: flex;
    font-weight: normal;
    padding-top: 0.5em;
    font-size: 0.8rem;
}

.alert-buttons {
    display: flex;
    gap: 0.5em;
}

.logout-button {
    background: transparent;
    border:none;
    font-weight: bold;
    font-size: 0.8rem;
    cursor: pointer;
}

.alert-off-button,
.alert-on-button {
    padding: 0.8em 1.6em;
    border: 1px solid black;
    font-weight: bold;
    font-size: 0.8rem;
    cursor: pointer;
}

.alert-off-button:hover,
.alert-on-button:hover {
    background: darkgray;
}

.alert-off-button {
    background: transparent;
    color: #515151;
}

.alert-on-button {
    background: #515151;
    color: white;
}

.department-detail,
.user-email {
    display: flex;
    font-weight: normal;
    justify-content: right;
}

hr {
    width: 100%;
    border: 1px solid lightgrey;
    color: lightgrey;
}

.unregister-logout-section {
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
    font-weight: bold;
    margin-top: 4em;
}

.unregister-logout-section a {
    cursor: pointer;
}


.modal {
    display: none; /* 기본적으로 숨겨짐 */
    position: fixed; /* 화면에 고정 */
    z-index: 1; /* 페이지 위에 나타남 */
    left: 0;
    top: 0;
    width: 100%; /* 전체 너비 */
    height: 100%; /* 전체 높이 */
    overflow: auto; /* 스크롤바 처리 */
    background-color: rgb(0,0,0); /* 백그라운드 색상 */
    background-color: rgba(0,0,0,0.4); /* 약간의 투명도 */
}

.modal-content {
    background-color: white;
    margin: 40vh auto; /* 화면 중앙에 위치 */
    padding: 2em;
    border: 1px solid #888;
    width: 20rem; /* 모달 너비 */
    height: 10rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modal-content a {
    font-weight: bold;
    font-size: 1.2rem;
}

.modal-content p {
    font-size: 1rem;
}

.modal-content-buttons {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 1em;
}

.cancel-button,
.continue-button {
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    border: none;
    background: transparent;
}

@media (max-width: 400px) {
    .container {
        min-width: 400px;
    }
}

@media (min-width: 660px) {
    .container {
        padding: 10vh 20vw;
    }

}

@media (min-width: 1024px) {
    .container {
        padding: 10vh 30vw;
    }
}