@charset "UTF-8";

html {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
}

/*<!-- 스크롤 안생기게 -->*/
body {
    overflow-x: hidden;
    color: rgb(29, 29, 31);
    letter-spacing: -0.05em;
    background: white;
}

/*<!-- 밑줄 없앰 -->*/
a {
    color: rgb(29, 29, 31);
    text-decoration: none;
}

.container {
    padding: 10vh 5vw;
}

.logo-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.logo-img {
    width: 4rem;
}

.logo-title {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}

.comment-section {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    padding: 4rem;
}

.home-button {
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 0.7rem;
    margin: 4rem 0;
    color: #0078FF;
    font-weight: bold;
    cursor: pointer;

}

@media (max-width: 400px) {
    .container {
        min-width: 400px;
    }
}

@media (min-width: 660px) {
    .container {
        padding: 10vh 20vw;
    }

}

@media (min-width: 1024px) {
    .container {
        padding: 10vh 30vw;
    }
}