<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CAU SW 공지사항 알리미</title>
    <!-- 외부 URL은 Thymeleaf 문법 없이 href를 사용 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap" rel="stylesheet">
    <!-- 내부 리소스에는 Thymeleaf 문법 사용 -->
    <link rel="stylesheet" type="text/css" href="/css/index.css"/>
    <link rel="stylesheet" type="text/css" href="/css/reset.css"/>
</head>
<body>
<div class="container">
    <section class="logo-section">
        <img src="/src/cau_logo.jpeg" class="logo-img">
        <div class="logo-title">중앙대학교 소프트웨어학부<br />공지사항 알리미</div>
    </section>
    <section class="center-section">
        <div>
            <p>[ 서비스 안내 ]</p>
        </div>
        <div>
            1. 이 서비스는 중앙대학교 소프트웨어학부 공식 홈페이지의 공지사항 게시글이 올라온 경우 이메일로 알림을 보내주는 서비스 입니다.
        </div>
        <div>
            2. 이메일 등록 후 누구나 이용 가능한 서비스 입니다.
        </div>
        <div>
            3. 더이상 알림 이메일을 원하지 않는 경우, 이메일 인증 후 구독 취소하시길 바랍니다.
        </div>
        <div>
            4. 구독 기간동안 인증이 완료된 이메일을 보관하게 됩니다. 구독 취소시 이메일을 영구 삭제합니다.
        </div>
        <div>
            5. 무료 서비스이며 이메일 이외의 기타

            개인정보를 요구하지 않습니다.
        </div>
        <div>
            6. 학교의 공식 서비스가 아닙니다.
        </div>
    </section>

    <section class="button-section">
        <form class="button-form" action="/login" method="get">
            <button class="button-0">
                로그인
            </button>
        </form>
        <form class="button-form" action="/signup" method="get">
            <button class="button-1">
                회원 가입
            </button>
        </form>
    </section>

</div>

</body>
</html>