<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, student-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>로그인</title>
    <!-- 외부 URL은 Thymeleaf 문법 없이 href를 사용 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap" rel="stylesheet">
    <!-- 내부 리소스에는 Thymeleaf 문법 사용 -->
    <link rel="stylesheet" href="/css/login.css"/>
</head>
<body data-csrf-token="${_csrf.token}">
<div class="container">
    <form action="/login-request" method="post" name="loginForm">
        <section class="logo-section">
            <img src="/src/cau_logo.jpeg" class="logo-img">
            <div class="logo-title">중앙대학교 소프트웨어학부<br/>공지사항 알리미</div>
        </section>
        <section class="input-section">
            <div>이메일</div>
            <input class="input" type="username" id="username-input" name="username" placeholder="example@username.com">
        </section>
        <section class="input-section">
            <div>비밀번호</div>
            <input class="input" type="password" name="password" id="password-input">
        </section>
        <section class="login-button-section">
            <a th:text="${loginError}" class="login-error" id="login-error">이메일 또는 비밀번호를 확인해주세요</a>
<!--            <a class="login-error" id="login-error">이메일 또는 비밀번호를 확인해주세요</a>-->
            <button class="login-button" value="login" id="login-button">
                로그인
            </button>
        </section>
    </form>
    <section class="signup-comment-section">
        <a>아직 회원이 아니신가요?</a>
        <form action="/signup" method="get">
            <button class="sign-up-button" id="sign-up-button">회원가입</button>
        </form>
    </section>

</div>
<script type="module" src="/js/login.js"></script>
<script>
    window.csrfToken = document.body.getAttribute('data-csrf-token');
</script>
</body>
</html>