<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>안내 화면</title>
  <!-- 외부 URL은 Thymeleaf 문법 없이 href를 사용 -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap" rel="stylesheet">
  <!-- 내부 리소스에는 Thymeleaf 문법 사용 -->
  <link rel="stylesheet" href="/css/notice.css"/>
</head>
<body>
<div class="container">
  <section class="logo-section">
    <img src="/src/cau_logo.jpeg" class="logo-img">
    <div class="logo-title">중앙대학교 소프트웨어학부<br />공지사항 알리미</div>
  </section>
  <section class="comment-section">
    회원탈퇴가 완료되었어요!
  </section>
  <section>
    <form action="/" method="get">
      <div class="home-button">
        돌아가기
      </div>
    </form>
  </section>
</div>

</body>
</html>