<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>공지 알림 구독 신청</title>
    <!-- 외부 URL은 Thymeleaf 문법 없이 href를 사용 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap" rel="stylesheet">
    <!-- 내부 리소스에는 Thymeleaf 문법 사용 -->
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/signup.css}">
    <link rel="stylesheet" href="/css/signup.css"/>
    <script src="https://www.google.com/recaptcha/api.js?render=6LfSRTQpAAAAAF0XXLajxXQFhFXgQytX67bSINky"></script>
</head>
<body data-csrf-token="${_csrf.token}">
<div class="container">
    <section class="logo-section">
        <img src="/src/cau_logo.jpeg" class="logo-img">
        <div class="logo-title">중앙대학교 소프트웨어학부<br/>공지사항 알리미</div>
    </section>
    <section class="username-section">
        <div class="username-title">
            이메일
        </div>
        <input class="username-input" type="username" id="username-input" placeholder="example@username.com">
        <div class="username-error" id="username-error">
            이메일 형식을 확인해주세요
        </div>
    </section>
    <section class="password-section">
        <div class="password-title">
            비밀번호
        </div>
        <input class="password-input" type="password" id="password-input">
        <div class="password-error" id="password-error">
            비밀번호는 6자리 이상으로 설정해주세요
        </div>
    </section>
    <section class="policy-section">
        <div class="policy-check-section">
            <a class="policy-title">
                개인정보 처리방침
            </a>
            <label class="policy-check">
                동의합니다
                <input class="policy-input" type="checkbox" id="agree">
            </label>
        </div>

        <div class="policy-content">
            <a>중앙대 소프트학부 공지 알리미는 사용자의 개인정보를 중요시하며, 정보통신망 이용촉진 및 정보보호 등에 관한 법률을 준수하고 있습니다.<br>개인정보 처리 방침을 통해 수집하는 개인정보의
                항목, 수집 및 이용목적, 개인정보의 파기 절차 및 방법 등을 명시하고 있습니다.</a>
            <br><br>
            <p>1. 수집하는 개인정보의 항목</p>
            <a>알림 서비스 제공을 위해 다음과 같은 개인정보를 수집하고 있습니다.</a>
            <br><a>- 이메일 주소 </a>
            <p>2. 개인정보의 수집 및 이용 목적</p>
            <a>수집된 개인정보는 다음의 목적을 위해 활용됩니다.</a>
            <br><a>- 이메일을 통한 서비스 관련 알림 전송</a>
            <p>3. 개인정보의 보유 및 이용 기간</p>
            <a>사용자의 개인정보는 서비스 제공 목적이 달성된 후에는 지체 없이 파기합니다.<br>단, 관련 법령에 의해 보존할 필요가 있는 경우 해당 법령에 따라 보존합니다.</a>

            <p>4. 개인정보의 파기 절차 및 방법</p>
            <a>사용자의 개인정보는 목적이 달성된 후 즉시 파기됩니다.</a>

            <p>5. 개인정보 제공 및 공유</p>
            <a>사용자의 개인정보를 원칙적으로 외부에 제공하지 않습니다. 다만, 사용자의 동의가 있는 경우 또는 법률의 특별한 규정에 의한 경우에 한해 제공할 수 있습니다.</a>

            <p>6. 이용자의 권리와 그 행사 방법</p>
            <a>- 개인정보의 조회, 수정을 원하시거나 개인정보의 오류에 대한 정정을 요청하실 수 있습니다.</a>
            <br><a>- 개인정보의 삭제를 원하시는 경우, 사용자의 요청을 즉시 처리합니다.</a>

            <p>7. 개인정보 보호책임자</p>
            <a>- 이름: 전민석</a>
            <br><a>- 이메일: wjsalstjr59@gmail.com</a>
            <br><br><a>본 방침은 2023.12.20부터 시행됩니다.</a>
        </div>
    </section>
    <section class="auth-section" id="auth-section">
        <div class="auth-title-resend">
            <a class="auth-title">
                인증 코드
            </a>
            <div class="send-comment" id="send-comment">
                이메일로 인증코드가 오지 않았어요 <a class="resend-button" id="resend-button">재전송</a>
            </div>

        </div>
        <input class="auth-input" type="number" id="auth-input" placeholder="이메일로 받은 인증코드를 입력해주세요">

        <div class="comment-left-time" id="comment-left-time"></div>

        <button class="auth-button" id="auth-button">확인</button>
    </section>
    <section class="button-section">
        <div class="button" id="send-username-button">
            인증 코드 전송
        </div>
    </section>
</div>
<script type="module" src="/js/signup.js"></script>
<script>
    window.csrfToken = document.body.getAttribute('data-csrf-token');
</script>
</body>
</html>